@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dae1dd57;
}

.promptBG {
  background: rgb(250, 212, 120);
  background: -moz-linear-gradient(90deg, rgba(250, 212, 120, 1) 0%, rgba(247, 235, 178, 1) 50%, rgba(250, 212, 120, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(250, 212, 120, 1) 0%, rgba(247, 235, 178, 1) 50%, rgba(250, 212, 120, 1) 100%);
  background: linear-gradient(90deg, rgba(250, 212, 120, 1) 0%, rgba(247, 235, 178, 1) 50%, rgba(250, 212, 120, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fad478", endColorstr="#fad478", GradientType=1);
}